<%= form_with(model: nutrition, local: true) do |form| %>
  <% if nutrition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nutrition.errors.count, "error") %> prohibited this nutrition from being saved:</h2>

      <ul>
        <% nutrition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :diet %>
    <%= form.text_field :diet %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
