<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @nutrition.type %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @nutrition.diet %>
</p>

<%= link_to 'Edit', edit_nutrition_path(@nutrition) %> |
<%= link_to 'Back', nutritions_path %>
